#sign_up
  =render 'partial/deviseToastr'
  h2 新規登録
  .wrap
    = form_for @user, url:user_registration_path do |f|
      .field
        p = f.text_field :name, placeholder: "\uF007   名前"
      .field
        p = f.email_field :email, placeholder: "\uF0e0  メールアドレス"
      .field
        p = f.text_field :password, placeholder: "\uF023   パスワード"
      .field
        p = f.text_field :password_confirmation, placeholder: "\uF023   パスワード再入力"
      .actions
        p = f.submit "", :class => "btn"
