#answer_index {
  .wrap {
    text-align: center;
    padding: 40px;
    background-color: #e86f71;
    min-height: 100vh;
    min-width: 100vw;
    h2 {
      margin-bottom: 40px;
    }
    .promote {
      .btn {
        color: #fff;
        display: flex;
        justify-content: center;
        margin-top: 40px;
        .item {
          margin: 40px;
          color: #303030;
          font-size: 18px;
          p {
            margin-bottom: 24px;
          }
          a {
            color: #fff;
            text-decoration: none;
            transition: 0.5s;
            &:hover {
              font-size: 110%;
            }
          }
        }
      }
    }
  }
}
#answer_show {
  background-color: #f2c76d;
  min-width: 100vw;
  .wrap {
    text-align: center;
    padding: 100px;
    width: 64%;
    margin: 0 auto;
    h2 {
      margin: 0;
      margin-bottom: 20px;
      line-height: 40px;
    }
    .outer {
      .content {
        position: relative;
        background-color: #fff;
        padding: 40px 20px;
        border-radius: 5px;
        font-size: 24px;
        word-break: break-all;
        &::before {
          position: absolute;
          content: "";
          background-image: url("https://s3-ap-northeast-1.amazonaws.com/nayame/lp/logo-mini.png");
          background-size: contain;
          background-repeat: no-repeat;
          width: 50px;
          height: 50px;
          bottom: 10px;
          right: 10px;
        }
      }
      .answer {
        textarea {
          font-size: 24px;
          outline: none;
          border: none;
          width: 90%;
          height: 180px;
          padding: 20px;
          margin: 20px;
          border-radius: 5px;
          display: inline-block;
          vertical-align: middle;
          word-break: break-all;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  #answer_index {
    .wrap {
      padding: 20px;
      .promote {
        margin: 0;
        .btn {
          display: block;
          .item {
            margin: 0;
            padding: 10px;
            font-size: 18px;
          }
        }
      }
    }
  }
  #answer_show {
    .wrap {
      padding: 40px 20px;
      width: 100%;
      .outer {
        .content::before {
          width: 30px;
          height: 30px;
        }
        .answer {
          textarea {
            font-size: 18px;
          }
        }
        .button {
          margin-top: 30px;
          input {
            background-color: #fff;
            font-size: 18px;
          }
        }
      }
    }
  }



}




