.sign_up,.log_in {
  padding: 80px;
  h2 {
    font-size: 60px;
    text-align: center;
  }
  .wrap {
    text-align: center;
    .field {
      margin: 50px 0;
      input {
        font-size: 24px;
        text-indent: 50px;
        padding: 5px 0px;
        width: 50%;
        border: none;
        border-bottom: 3px solid #7bc1a9;
        &::focus {

        }
      }
    }
    .actions {
      .btn {
      }
      input {
        width: 200px;
        height: 54px;
        font-size: 32px;
        text-decoration: none;
        background-image: url("/assets/lp/send2.png");
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
      }
    }
  }
}
.log_in {
  h2 {
    background-color: #7bc1a9;
    color: #fff;
    font-size: 34px;
    padding: 20px 80px;
    width: 200px;
    margin: 0 auto;

  }
}