* {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS Rounded 1c', 'Dosis', sans-serif;
  letter-spacing: 2px;
}

#lp_index {
  width: 1450px;
  min-height: 100vh;
  #body {
    margin: 0;
    padding: 0;
    .wrap {
      position: relative;
      color: #fff;
      font-weight: bold;
      .nav {
        position: fixed;
        top: 0;
        width: 100%;
        padding: 16px 0 8px 0;
        display: flex;
        background-color: #e86f71;
        box-shadow: 2px 2px 2px #b7585a;
        z-index: 10;
        a {
          text-decoration: none;
          color: #fff;
          transition: 0.5s;
          &:hover {
            letter-spacing: 6px;
          }
        }
        .item-left {
          margin-left: 40px;
        }
        .item-right {
          width: 100%;
          text-align: right;
          margin-right: 40px;
          span {
            margin-left: 20px;
          }
        }
      }
      .screen {
        background-image: url("https://s3-ap-northeast-1.amazonaws.com/nayame/lp/lp_bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
        .title {
          padding-top: 160px;
          .logo {
            text-align: center;
            margin-bottom: 30px;
          }
          .subtitle {
            text-align: center;
          }
        }
        .btn {
          width: 100%;
          margin-top: 60px;
          cursor: auto;
          .item {
            display: flex;
            justify-content: center;
          }
          a {
            padding: 20px 70px;
            cursor: pointer;
            color: #fff;
            font-size: 16px;
            text-decoration: none;
            transition: 0.5s;
            margin: 20px;
          }
          a.sign_up {
            background-color: #e86f71;
            &:hover {
              background-color: #fff;
              border: solid 2px #e86f71;
              color: #e86f71;
            }
          }
          a.sign_in {
            background-color: #7bc1a9;
            &:hover {
              background-color: #fff;
              border: solid 2px #7bc1a9;
              color: #7bc1a9;
            }
          }
          a.mypage {
            background-color: #f2c76d;
            &:hover {
              background-color: #fff;
              border: solid 2px #f2c76d;
              color: #f2c76d;
            }
          }
          p {
            margin: 0
          }
        }
      }
      .about {
        background-color: #e86f71;
        transition: 0.5s;
        .content {
          position: relative;
          &::before {
            position: absolute;
            top: -40px;
            left: -50px;
            content: "";
            border-left: 2px solid #fff;
            border-top: 2px solid #fff;
            width: 100px;
            height: 100px;
          }
          &::after {
            position: absolute;
            bottom: -40px;
            right: -50px;
            content: "";
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            width: 100px;
            height: 100px;
          }
        }
      }
      .how {
        background-color: #f2c76d;
      }
      .attention {
        background-color: #7bc1a9;
        .content {
          position: relative;
          &::before {
          position: absolute;
          content: "";
          width: 70px;
          height: 70px;
          bottom: 0;
          left: -90px;
          background-image: url("https://s3-ap-northeast-1.amazonaws.com/nayame/lp/warning.png");
          background-repeat: no-repeat;
          background-size: contain;
          }
        }
      }
      .container {
        text-align: center;
        height: 540px;
        width: 100%;
        .title {
          padding-top: 70px;
          margin-bottom: 50px;
          h2 {
            font-size: 48px;
            margin-bottom: 20px;
          }
          p {
              font-size: 18px;
          }
        }
        .content {
          width: 28%;
          line-height: 30px;
          margin: 0 auto;
          text-align: left;
        }
        .columns {
          display: flex;
          justify-content: center;
          text-align: left;
          .item {
            width: 20%;
            .icon {
              margin-bottom: 20px;
              text-align: center;
            }
            .text {
              width: 80%;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  #lp_index {
    width: 100%;
    #body {
      .wrap {
        .about {
          .content::before {
            top: -30px;
            left: -30px;
          }
          .content::after {
            bottom: -30px;
            right: -30px;
          }
        }
        .container {
          height: auto;
          padding: 0 20px 40px 20px;
          .content {
            width: 84%;
          }
          .columns {
            display: block;
            .item {
              width: 100%;
              margin-bottom: 30px;
              .icon {
                margin-bottom: 10px;
              }
            }
          }
        }
        .screen {
          .btn {
            a {
              padding: 30px 40px;
              margin: 0 10px;
            }
          }
        }
        .attention {
          .content::before {
            top: -80px;
            left: -30px;
          }
        }
      }
    }
  }
}
