input, textarea {
  font-family: FontAwesome;
  border: none;
  &:focus {
    outline: none;
  }
}

.body-wrap {
  width: 100vw;
}

.body {
  width: 100%;
  background-color: #e2e2e2;
  min-height: 100vh;
  .container {
    width: 64%;
    margin: 0 auto;
    .profile {
      text-align: center;
      padding: 40px;
      .item {
        padding: 20px;
        .form {
          position: relative;
          #user_image {
            display: none;
          }
          input, textarea {
            background-color: #e2e2e2;
          }
        }
        .profile_image {
          position: relative;
          img {
            margin: 0 auto;
            width: 200px;
            height: 200px;
            background-color: #fff;
            border-radius: 50%;
          }
          .image_file {
            position: absolute;
            opacity: 0;
            width: 200px;
            height: 200px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

.card {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  .wrap {
    padding: 14px;
    .card-top {
      display: flex;
      padding: 6px 0;
      .name {
        margin-left: 30px;
        display: flex;
        align-items: center;
        p {
          margin: 0;
        }
      }
      .time {
        margin: 0 0 0 auto;
        font-size: 12px;
        display: flex;
        align-items: center;
        span {
          margin: 4px 0;
        }
      }
    }
    .card-content {
      padding-top: 14px;
      .outer {
        margin-bottom: 6px;
      }
    }
    .card-bottom {
      display: flex;
      justify-content: space-between;
      .item {
        width: 50%;
        text-align: center;
      }
    }
    .btn {
      margin: 20px 0;
    }
  }
}

.answer {
  padding-top: 40px;
  background-color: #e2e2e2;
  .card {
    border-radius: 10px;
  }
  .form {
    margin-top: 40px;
    textarea {
      width: 100%;
    }
  }
}

.create_post {
  display: none;
  .modal-layer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.4;
    z-index: 1;
  }
  .modal {
    height: 340px;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 10px;
  }
  .wrap {
    background-color: #fff;
    box-shadow: 2px 2px 5px #ccc;
  }
  .btn {
    display: flex;
    text-align: center;
    justify-content: space-between;
    p {
      margin: 0 auto;
    }
  }
  textarea {
    width: 100%;
    height: 140px;
    padding: 6px;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 1.4em;
    &:focus {
      outline: none;
    }
  }
}





@media screen and (max-width: 640px) {
  #post_index {
    width: 100%;
    .body {
      width: 100%;
      padding-top: 0;
      .content {
        .wrap {
          margin: 0;
          width: 100%;
          .outer {
            font-size: 10px;
            .text::before {
              height: 40px;
              width: 40px;
            }
            .option {
              .item {
                font-size: 10px;
                .number {
                  right: 60px;
                  width: 14px;
                  height: 14px;
                }
                #share {
                  .link {
                    bottom: 50px;
                    left: 0;
                    font-size: 20px;
                    padding: 4px;
                    width: 180px;
                    .box {
                      a, i {
                        font-size: 40px;
                        cursor: pointer;
                      }
                      p {
                        font-size: 6px;
                      }
                      .btnClipboard {
                        padding: 8px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #post_show {
    .wrap {
      padding: 0;
      padding-top: 20px;
      .content {
        width: 90%;
        .text {
          padding: 40px 0;
          &:before {
            width: 30px;
            height: 30px;
          }
          .button {
            left: 10px;
            bottom: -5px;
            a {
              font-size: 10px;
            }
          }
        }
        .answer {
          font-size: 20px;
          padding: 30px 0;
          .btn {
            font-size: 8px;
          }
        }
        .empty {
          margin-top: 14px;
          font-size: 18px;
        }
      }
    }
  }
  #post_new {
    .wrap {
      padding: 60px 20px;
      min-height: 100vh;
      .content {
        width: 100%;
        padding: 10px;
        textarea {
          height: 240px;
          padding: 20px;
          margin: 0;
        }
      }
      .button {
        margin-top: 20px;
        input {
          background-color: #fff;
        }
      }
    }
  }
  #nav-home {
    z-index: 1;
    bottom: 20px;
    right: 20px;
  }
}
